<div class="hsection">
    <img src="https://i.postimg.cc/X7r8swgL/images-2-removebg-preview.png" alt="Logo" class="logo">
    <div class="superior-logo">INSIGHT   SKILL  <br>  DEVELOPMENT</div> <h1 class="H1" style="margin-left: 450px; "  > Let's Connet With Digital World With </h1> 
    <h1 style="margin-top: 370px; margin-left:580px ;"    class="H1"> Insight Skill Development</h1>
</div>





<div class="container">
    
    <img  class="img"     src="   https://i.postimg.cc/Vk8x4kkQ/2024-10-30-2.jpg   " alt="">
<img  class="img2"    src="https://i.postimg.cc/QC6Fmycv/new-lab.jpg" alt="">
    <h2 class="heading">Unlock Your Potential And Build  <br> Financial Freedom With Insight  <br> Skill  Development</h2> <br> 

    <div  style="margin-top: 270px;"     class="features-tab_card">
        <img
          class="features-tab_icon"
          alt="Certificate icon"
          src="https://cms-images.udemycdn.com/96883mtakkm8/2Xh9YHJustDwCEjn5IlO25/93e9b15c6e74876db0dec63466fcc5a0/certificate.png"
        />
        <div class="features-tab_content">
          <h3 class="features-tab_title">Certification prep</h3>
          <p class="features-tab_description">
            Prep for industry-recognized certifications <br>  by solving real-world
            challenges and  earn  <br> badges along the way.
          </p>
        </div>
      </div>


      <div style="margin-top: 20px;"     class="custom-card">
        <img
            alt="sketch of hand working with shapes"
            src="https://cms-images.udemycdn.com/96883mtakkm8/7kN9RBFSMFNHzsGWsElMPi/dde73f8d1c47e046f035274e78410590/hands-on-practice.png"
            class="custom-icon"
        />
        <div class="custom-content">
            <div>
                <p class="custom-title">Hands-on training</p>
                <p class="custom-description">
                    Upskill effectively with AI-powered coding exercises, practice tests, and quizzes.
                </p>
            </div>
        </div>
    </div>


    <div   style="margin-top: 20px;"    id="insights_analytics_feature_panel_lohp_features" tabindex="0" role="tab" aria-selected="false" aria-controls="" class="new-card">
        <img
            alt="sketch of a graph trending upwards"
            src="https://cms-images.udemycdn.com/96883mtakkm8/6w8plrr7vY9rIY46UuX0q5/2f0a3f0c22e99bd2d430b998c81321f2/empty-state-1.png"
            class="new-icon"
            height="64"
            width="64"
            loading="lazy"
        />
        <div class="new-content">
            <div>
                <div>
                    <p class="new-title">Insights and analytics</p>
                   
                </div>
                <p class="new-description">
                    Fast-track goals with advanced insights plus a dedicated customer success team to help drive effective learning.
                </p>
               
            </div>
        </div>

        <div   style="margin-top: 490px ; margin-left: -742px ;"        id="customizable_content_feature_panel_lohp_features" tabindex="0" role="tab" aria-selected="false" aria-controls="" class="new-card">
            <img
                alt="sketch of people forming web of connectivity"
                src="https://cms-images.udemycdn.com/96883mtakkm8/2tKGBrb1N60wox2Lh8j3tz/7f1528c9f88ea47bd6ebb46f345902c3/organizations-2.png"
                class="new-icon"
                height="64"
                width="64"
                loading="lazy"
            />
            <div  src="new-content">
                <div>
                    <p class="new-title">Customizable content</p>
                    <p class="new-description">
                        Create tailored learning paths for team and organization goals and even host your own content and resources.
                    </p>
                </div>
            </div>
        </div>


    </div>



<div class="team-section">
    <h2  style="  width: 900px;
    height: 84px;
    font-family: 'Inter', sans-serif;
    color: #0C7E81;
margin-right: 150px;

font-size: 45px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-left: 340px;    " >Team Members Of Insight Skill Development </h2>
    <div class="team-container">
      <div class="team-member">
        <div  style="margin-left: -800px;" >   <img  class="member-photo"     src="  https://i.postimg.cc/2j2pTDBV/shh.png  " alt="">     </div>
        <p   style="margin-left: -820px; margin-top: 10px;"     class="member-name"> Principle  <br> M.Shoaib Sheikh</p>
      </div>
      <div       class="team-member">
        <div   style="margin-left: -290px;" >  <img   class="member-photo"    src="https://i.postimg.cc/wB6ZD4Th/Whats-App-Image-2025-01-10-at-02-47-40-9860bf8d.jpg" alt="">    </div>
        <p    style="margin-left: -280px; margin-top: 10px;"   class="member-name"> Senior Web Developer<br> M.Waseem Akram  </p>
      </div>
      <div       class="team-member">
        <div   style="margin-left: 25px;" >  <img   class="member-photo"    src="https://i.postimg.cc/sgDDgmdN/Whats-App-Image-2025-01-10-at-03-06-01-5efec086.jpg" alt="">    </div>
        <p    style="margin-left: -50px; margin-top: 10px; width: 500px; "   class="member-name"><span>Junior Web Developer <br> Mam Ghumza Ejaz </span> </p>
      </div>
      <div       class="team-member">
        <div   style="margin-left: 250px;" >  <img   class="member-photo"    src="https://i.postimg.cc/kGtp7kfd/Whats-App-Image-2025-01-10-at-02-48-13-f57a63f7.jpg" alt="">    </div>
        <p    style="margin-left: 200px; margin-top: 10px; width: 500px ;"   class="member-name"> Project Manager <br> Mudassar Ali </p>
      </div>
  
  
    </div>


    <div    class="footer">
        <div class="footer-content">
         
          <div class="footer-left">
              <img src="https://i.postimg.cc/X7r8swgL/images-2-removebg-preview.png" alt="Superior Logo" class="footer-logo">
              <h2 class="lhi">INSIGHT SKILL DEVELOPMENT</h2>
              <p class="footer-description">
                  We are committed to transforming the lives of students, faculty, and staff by providing  them a    Superior learning  a experience. Our  plan EQ  &  IQ   enables them to lead a  meaningful and rewarding life.
              </p>
              
              
            
          </div>
      
         
          <div class="footer-center">
              <h3  >Contact Info</h3>
              <p>Phone: 
                0333 0873344</p>
              <p>Email: insightskilldevelopmentgmail.com</p>
              <p>Address: Multan Road Near Superior College, Mian Channu</p>
              <p style="font-weight: 600; margin-top: 10px;">Experience eduTech App on mobile:</p>
              
          </div>
      
         
          <div class="footer-right">
              <img   style="width:450px ; margin-top:70px ; margin-left: -60px; width: 430px;"    src="https://i.postimg.cc/BvG5bsCr/Layer-12-copy-3-2.png" alt="Map of campuses" class="footer-map">
              
          </div>
      </div>
      
      
      <div class="footer-bottom">
          <p  style="margin-left: 150px; font-family: sans-serif; font-size:15px ;"       >© Copyright Superior Group All Rights Reserved 2025</p>
          <div class="footer-links">
              <a  href="#">Homes</a>
              <a  href="#">Courses</a>
              <a  href="#">About us</a>
              <a  href="#">Contact us</a>
          
      </div>
      </div>
    </div>
    


 





