



<div class="hsection">
    <img src="https://i.postimg.cc/X7r8swgL/images-2-removebg-preview.png" alt="Logo" class="logo">
    <div class="superior-logo">INSIGHT   SKILL  <br>  DEVELOPMENT</div>

    <h1 class="H1">EMPOWER SKILLS</h1>
    <h1 class="H2">Your Path towards Success Begins at Insight Skill Development</h1>

</div>

  




<div class="container">
    <img class="img2" src="https://i.postimg.cc/sgJMQXkC/bg-1-1.jpg" alt="">
    <img class="img" src="https://i.postimg.cc/mk19CjTc/pic-1.png" alt="Image Description">

    <h2 class="heading">Insight Skill Development <br> Mian Channu</h2>
    <p class="paragraph">
        Insight Skill Development is an institute dedicated to equipping students with practical skills such as web development, e-commerce, and many other in-demand competencies, preparing them for a successful future in the digital world. <br><br>
        The learning culture at Insight Institute embodies the mission of empowering individuals with practical skills and a passion for innovation. It’s a place where students develop a sense of purpose through hands-on learning in web development, e-commerce, and other fields. Excellence is achieved through a blend of academics, collaborative projects, and skill-based training. Teamwork and creativity are fostered through interactive activities and projects, while consistent rewards and recognition inspire students to strive for success and personal growth. <br><br>
        At Insight Skill Development, students feel valued and supported by dedicated trainers who genuinely care about their growth. The institute inspires learners to confidently pursue their dreams by equipping them with essential skills and empowering them to build the future they've envisioned.
    </p>
</div>

<!-- After the closing div tag of the container or back section -->
<div class="fixed-button-container">
    <a class="fixed-button">
        <span  (click)="Key('/apply')" class="button-text">APPLY NOW</span>
    </a>
</div>





<div class="back">
    <button    (click)="Key('/apply')"    type="button" class="button">APPLY NOW</button>

    <h3 class="courses">Courses</h3>
    <h3 class="offer">Offered</h3>

    <div class="green"> 
        <h1 style="margin-top: -230px; position:absolute;">Website Development</h1>
        <h4 class="html-logo" style="margin-top: -120px; margin-right: 195px; font-family: sans-serif; position: absolute;">Hyper Text Markup Language</h4>
        <h4 class="css-logo" style="margin-right: 240px; font-family: sans-serif; margin-top: -65px; position: absolute;">Cascading Style Sheets</h4>
        <h4 class="js-logo" style="margin-right: 350px; font-family: sans-serif; margin-top: -15px; position: absolute;">JavaScript</h4>
        <h4 class="programming-logo" style="margin-right: 185px; font-family: sans-serif; margin-top: 35px; position: absolute;">Basic Programming Concepts</h4>
        <h4 class="angular-logo" style="margin-right: 225px; font-family: sans-serif; margin-top: 88px; position: absolute;">Angular Basic to Advance</h4>
        <h4 class="node-api-logo" style="margin-right: 265px; font-family: sans-serif; margin-top: 139px; position: absolute;">API Dev Using NODE</h4>
        <h4 class="express-js-logo" style="margin-right: 350px; font-family: sans-serif; margin-top: 190px; position: absolute;">Express JS</h4>
        <h4 class="rational-db-logo" style="margin-right: 290px; font-family: sans-serif; margin-top: 240px; position: absolute;">Rational Database</h4>
        <h4 class="non-rational-db-logo" style="margin-right: 250px; font-family: sans-serif; margin-top: 290px; position: absolute;">Non-Rational Database</h4>
    
</div>
    <div class="yellow"></div>
        <h1 style="position: absolute; margin-left: 975px; color: white; margin-top: -325px; letter-spacing: 3px; font-size: 40px;">E-commerce</h1>
        <h4 class="shopify-logo" style="margin-top: -220px; margin-left: 995px; font-family: sans-serif; position: absolute; color: white; font-size: 20px; letter-spacing: 1px; font-weight: 600;">Shopify Store Setup</h4>
        <h4 class="tiktok-ads-logo" style="margin-top: -160px; margin-left: 1005px; font-family: sans-serif; position: absolute; color: white; font-size: 20px; letter-spacing: 1px; font-weight: 600;">TikTok Ads Mastery</h4>
        <h4 class="dropshipping-logo" style="margin-top: -110px; margin-left: 1005px; font-family: sans-serif; position: absolute; color: white; font-size: 20px; letter-spacing: 1px; font-weight: 600;">Dropshipping</h4>
    
</div>

<div class="seclast" style="margin-bottom: 200px;">
    <h2 class="lastheading">ADMISSIONS OPEN</h2>
    <h4 class="line">Join Insight Skill Development and be a part of progressing future</h4>

    <div class="enroll-button-container">
        <a    (click)="Key('/routing')"   class="enroll-button">Enroll Here!</a>
    </div>
  </div>
  <app-footer></app-footer>
<!-- <div    class="footer">
  <div class="footer-content">
   
    <div class="footer-left">
        <img src="https://i.postimg.cc/X7r8swgL/images-2-removebg-preview.png" alt="Superior Logo" class="footer-logo">
        <h2 class="lhi">INSIGHT SKILL DEVELOPMENT</h2>
        <p class="footer-description">
            We are committed to transforming the lives of students, faculty, and staff by providing  them a    Superior learning  a experience. Our  plan EQ  &  IQ   enables them to lead a  meaningful and rewarding life.
        </p>
        
        
      
    </div>

    <div class="footer-center">
        <h3  >Contact Info</h3>
        <p>Phone: 
          0333 0873344</p>
        <p>Email: insightskilldevelopmentgmail.com</p>
        <p>Address: Multan Road Near Superior College, Mian Channu</p>
        <p style="font-weight: 600; margin-top: 10px;">Experience eduTech App on mobile:</p>
        
    </div>

    <div class="footer-right">
        <img   style="width:450px ; margin-top:70px ; margin-left: -60px; width: 430px;"    src="https://i.postimg.cc/BvG5bsCr/Layer-12-copy-3-2.png" alt="Map of campuses" class="footer-map">
        
    </div>
</div>


<div class="footer-bottom">
    <p  style="margin-left: 150px; font-family: sans-serif; font-size:15px ;"       >© Copyright Superior Group All Rights Reserved 2025</p>
    <div class="footer-links">
        <a  href="#">Homes</a>
        <a  href="#">Courses</a>
        <a  href="#">About us</a>
        <a  href="#">Contact us</a>
    
</div>
</div>
</div> -->

